<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

</head>
<style>
	body {
		background-color: #0095D9;
	}
	.section-title {
		color: white;
		font-weight: bold;
		font-size: 2em;
		text-transform: uppercase;
		text-align: right;
		display: inline-block;
		margin-left: 0;
		margin-bottom: 1em;
		width: 100%;
	}
</style>
<body>
	<script>
		var app = angular.module("mojjoTest", []);
		app.controller("mojjoCtrl", ['$http', '$scope', function($http, $scope) {
			$http.get('data_service.json').then(function(res) {
				$scope.data = res.data;
				console.log(res.data);
			});
		}]);
	</script>
	<div ng-app="mojjoTest" ng-controller="mojjoCtrl">
		<h2 class="section-title">Successful player serves on first set</h2>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="x in data.player.service_stats track by $index">Serve {{$index + 1}}: {{x.set_1.value}} / {{x.set_1.total}}</li>
		</ul>
		<h2 class="section-title">Successful opponent serves on first set</h2>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="x in data.opponent.service_stats track by $index">Serve {{$index + 1}}: {{x.set_1.value}} / {{x.set_1.total}}</li>
		</ul>
	</div> </body>
